<div id="<%= dom_id texture_group %>">
  <p>
    <span class = 'ti'>
      Material: <%= texture_group.material %>
    </span>
  </p>

  <div class = 'aw'>
    <strong>Refined:</strong>
    <%= texture_group.refined %>
  </div>
  <div class = 'aw'>
    <strong>Smoothrepeat:</strong>
    <%= texture_group.smoothRepeat %>
  </div>

</div>
