<% content_for :title, "New texture group" %>

<h1>New texture group</h1>

<%= render "form", texture_group: @texture_group %>

<br>

<div class = 'ti'>
  <%= link_to "Back to texture groups", texture_groups_path %>
</div>
