<!DOCTYPE html>
<html lang = 'en'>
<head>
<link rel="stylesheet" type="text/css" href="styles.css">
<title>Image Inputs and Editing</title>
</head>
<body>

<h1>Image Inputs and Editing</h1>

<br>
<div class = "ti">Textures</div>
<h2>Textures can be added, removed, and edited to fit your needs.</h2>
<div class = "aw"> Click below to get started with textures!</div>
<div class = "aw"> <a href="textures.html">Texture Library!</a>   </div>

<br><br>
<div class = "ti">Texture Groups</div>
<h2>Textures can be put into groups and categories for easier sorting.</h2>
<div class = "aw"> Click below to get started tagging and categorizing!</div>
<div class = "aw"> <a href="texture_groups.html">Texture Groups!</a>   </div>

<br><br>
<div class = "ti">User Identification</div>
<h2> Eventually users will be asked to log in</h2>
<div class = "aw"> Log in is required to upload, delete, and edit textures!</div>
<div class = "aw"> <a href="secondPage.html">Click to log in!</a>   </div>

</body>
</html>