<div id="<%= dom_id line_item %>">
  <p>
    <strong>Textures:</strong>
    <%= line_item.textures_id %>
  </p>

  <p>
    <strong>Texture groups:</strong>
    <%= line_item.texture_groups_id %>
  </p>

</div>
